# Cargo
debug/
target/
Cargo.lock

# Rustfmt
**/*.rs.bk

# MSVC
*.pdb

# Advent of Code
data/inputs/*
!data/inputs/.keep
data/puzzles/*
!data/puzzles/.keep

# Dhat
dhat-heap.json

# Benchmarks
data/timings.json

# IntelliJ
.idea/
out/

# SBT Plugin
.idea_modules/

# Gradle and Maven
*.iml
*.ipr

# CMake
cmake-build-*/

# File Project Format
*.iws

# JIRA Plugin
atlassian-ide-plugin.xml

# Crashlytics Plugin
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# MacOS
.DS_Store
